@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 18px;
}

a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  gap: 60px;
  padding: 16px 200px 100px 200px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  color: #fafaf8;
}

.hero {
  display: flex;
  justify-content: space-between;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  width: 450px;
}

.hero-main {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
  
}

.hero-sec {
  font-size: 18px;
  color: #E5E7EB;
}

.sign-up {
  background-color: #3882F6;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 30px;
  font-weight: 700;
  font-size: 16px;
}

.hero-img {
  color: white;
  background-color: rgba(202, 202, 202, 0.352);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  width: 500px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px 0px 96px 0px;
  gap: 36px;
}

.info-main {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
}

.info-sec {
  display: flex;
  max-width: 1000px;
  justify-content: center;
  gap: 48px;
}

.info-img-txt {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-wrap: wrap;  
  text-align: center;
  justify-content: center;
  align-items: center;
  max-width: 150px;
}

.info-img {
  height: 150px;
  width: 150px;
  border: 4px #3882F6 solid;
  border-radius: 16px;
}

.info-txt {
  color: rgb(83, 83, 83);
  align-self: flex-start;
}

.quote-container {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 0px;
}

.quote-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 850px;
}

.quote {
  font-size: 36px;
  color: #1F2937;
  font-weight: 300;
  
}

.quoter {
  font-size: 24px;
  font-weight: 700;
  align-self: flex-end;
}

.call-container {
  display: flex;
  justify-content: center;
  padding: 90px;
}

.call-wrapper {
  background-color: #3882F6;
  display: flex;
  padding: 48px 0px;
  width: 800px;
  justify-content: space-evenly;
  border-radius: 10px;
  height: auto;
}

.call-main {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.call-sec {
  color: rgb(191, 191, 191);
}

.call-wrapper .sign-up {
  border: 2px solid white;
}