@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 18px;
}

a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  gap: 60px;
  padding: 16px 200px 100px 200px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  color: #fafaf8;
}

.hero {
  display: flex;
  justify-content: space-between;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  width: 450px;
}

.hero-main {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
  
}

.hero-sec {
  font-size: 18px;
  color: #E5E7EB;
}

.sign-up {
  background-color: #3882F6;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px px;
}

.hero-img {
  color: white;
  background-color: rgba(202, 202, 202, 0.352);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  width: 500px;
}

